body {
  font-family: "Roboto Condensed", sans-serif; }

h1 {
  color: #0F5298; }

h2 {
  color: #2565AE; }

h3 {
  color: #3C99DC; }

h4 {
  color: #66D3FA; }

.site-footer {
  background-image: white;
  padding: 20px 0; }

.jumbotron {
  padding: 30px;
  background-image: white;
  margin: 0; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-color: #D5F3FE; }

  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.6); }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.blogScroll {
  position: relative;
  overflow-y: scroll;
  height: 100px; }

.exerciseLibrary .exerciseLibraryText {
  color: #0F5298; }
